.banner-container{
    margin: 70px 0px;
    display: flex;
    justify-content: space-between;
    color: black;
}

.banner .banner-btn:hover {
    background: #6f1d1b;
}

.banner-btn{
    color: white;
    background-color: #6f1d1b;
    border-color: white;
}

.banner-btn:hover{
    color: white !important;
    background-color: #ffc300 !important;
}