.banner-container {
  margin: 70px 0px;
  display: flex;
  justify-content: space-between;
  color: black;
}

.banner-container h1 {
  color: #ffc300;
}

.banner-image{
  width: 100% !important;
  height: 500px !important;
}

.banner-btn {
  color: white;
  background-color: #284b63;
  border-color: white;
}

.banner .banner-btn:hover {
  background: #ffc300;
}

.banner-btn:hover {
  color: white !important;
  background-color: #ffc300 !important;
}
