.nav-filters {
    background-color: #89c2d9;
    text-decoration: none;
    transition: transform 0.3s ease-in-out; 
}

.nav-filters:hover {
    transform: scale(1.1);
}

.nav-filters.active {
    background-color: #284b63;
    color: #ffffff;
}

.search-container{
    width: 25% !important;
}
